<!DOCTYPE html>
<html lang="en">
<!--head-->
<%- include ("./partials/head.ejs") %>

<body>

    <div class="grid-container">
     
      <!--header-->
   <%- include ("./partials/header.ejs") %>%>  

    </div>    
       
            <!--nav bar-->
        <%- include ("partials/navbar/nav.ejs") %>


        <h3>Please To store your beloved pet medical information</h3><br>
    

        <% var sMessage="Choose User or Insurance Company path" %>
        <%= sMessage %>

        <br>


        <div class="row mt-3">
            <div class="col-6 user-account">User Account <br>
                <a href="/user/user_loginpage"><img src="images/accountsImages/UsersIcon.png" alt="icon"></a>
            </div>
            <div class="col-6 insurance">Insurance Company <br>
                <a href="/insurance/insurance_loginpage"> <img src="images/accountsImages/InsuranceIcon.png" alt="icon"></a>
            </div>
        </div> 


        

    <!--Footer-->
    <%- include ("./partials/footer.ejs") %>%>

    </div>    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
</body>

</html>

<!--
image ref
 https://icon-library.com/icon/pet-icon-png-15.html
  https://www.flaticon.com/free-icon/insurance-company_9417371
   -->
