<!DOCTYPE html>
<html lang="en">
<!--head-->
<%- include ("../partials/head.ejs") %>
<body>
    <div class="container-fluid container3-mainBody full-height">
        
             <div class="col-4 leftimage-col ">
                  <div class="col">
                     <img src="/images/profileImages/lizard.png"  class="petprofileImg" alt="">
                     <br><br>
                     <div><h3>Pets Name: <%= pet.petName %> </h3></div>
                     <div><h4>Pets Type: <%= pet.petType %> </h4></div>
                     <div><h4>Pets Breed: <%= pet.breed %> </h4></div>
                     <div><h4>Pets Gender: <%= pet.gender %> </h4></div>
                     <div><h4>D.O.B:  <%= pet.dateOfBirth %> </h4></div>
                     <div><h4>Pets Colour: <%= pet.colour %> </h4></div>
                     <div><h4>Microchipping: <%= pet.microchipping %> </h4></div>
                     <div><h4>Microchipping Number:  <%= pet.microchippingNum %> </h4></div>
                     <div><h4>Policy Number: <%= pet.policyNum %> </h4></div>
                     <div><h4>Insurance Company: <%= pet.insuranceCompanyName %> </h4></div>
                     <br>

                     <div><h3>Owner: <%= user.firstName %> <%= user.lastName %> </h3></div>
                      <br>
                     <div class="accountBtns logInOut">
                       
                      
                        <a href="/user/user_profile"> <button><p><%= user.username %> 's Profile</p></button></a>
                         <!-- Login out of account-->
                        <%if(user) {%>
                             <button> <a href="/user/logout"> Logout</a></button>
                        <% } %>   
                    </div>

                  </div>
             </div>
             <div class="col-md-8 createPetAccount  ">
                 <div class="col claimDetailsList">
                     <div> 
                         <h1> <%= pet.petName %>'s Account </h1>
                         <h2>Start your claim creation and storage now!</h2><br>
                     </div>
                     <div>
                         <table>
                             <div>
                                 <tr>
                                  <h1>Claim List</h1>
                                  <!-- Buttons while Code is being created to move around pages-->
                                  <a href="/user/new_claims/<%= pet._id %>"><button><p>New Claims</p></button></a> <br><br>
                                 </tr>
                             </div>
                             <div>
                                 <tr>
                                 <th> <h4>Claim Title:</h4></th>
                                 <th> <h4>Area Of Issue:</h4> </th>
                                 <th> <h4>Claims Cost:</h4></th>
                                 <th> <h4>Claims Status:</h4></th>
                                 <th> <h4>View Claims:</h4></th>   
                                 <th><h4>Submit Claim:</h4></th>
                                 <th> <h4>Archive Claims:</h4></th>
                             </tr>
                             </div>
                             <div>
                                 <% if (claimsdetail && claimsdetail.length > 0) { %>
                                 <% claimsdetail.forEach(claim => { %>
                                  <tr>
                                     <td><p><%= claim.claimTitle %></p></td>
                                     <td><p><%= claim.areaOfIssue %></p></td>
                                     <td><p><%= claim.claimAmount %></p></td>
                                     <td><p><%= claim.claimStatus %></p></td>

                                     
                                     <td><a href="/user/view_claims/<%= claim._id %>"><p><button>View / Edit</button> </p></a></td>

                                     <!--td><p><button id="sendBtnICU" onclick="alert('Sent Claim')">Submit</button></p></td-->
                                     <td><p><button id="sendBtnICU" >Submit</button></p></td>

                                    <td>
                                        <% if (!claim.isArchived) { %>
                                            <form action="/user/archive_claims/<%= claim._id %>" method="post">
                                             <p><button id="sendBtnStore" >Archive</button></p>
                                            </form>
                                        <% } %>
                                    </td>
                                 </tr>
                                 <% }); %>
                             <% } else { %>
                             <tr>
                                 <td colspan="10">No claims submitted.</td>
                             </tr>
                              <% } %>
                             </div>
                         
                         </table>
                     </div>

                 </div> 
                 <br><br>     
             </div>
     
 
    </div>  
     <!--Footer-->
    <%- include("../partials/footer.ejs") %>     
    <script  src="/js/claims.js"></script>
</body>
</html>