<!DOCTYPE html>
<html lang="en">
<!--head-->
<%- include ("../partials/head.ejs") %>


    <body>
        <!--nav bar-->
        <!--
        <%- include ("../partials/navbar/user_nav.ejs") %>
        -->
        <div class="container-fluid full-height"> 

            <div class="col-4">
              
                <img src="/images/profileImages/lizard.png" alt="">
                <br>
                
            
                <% if (pets.length > 0) { %>
                    <% pets.forEach(pet => { %>
                        <h3>Pets Name: <%= pet.petName %> </h3>
                         <h4>Pets Type: <%= pet.petType %> </h4>
                        <h4>Pets Breed: <%= pet.breed %> </h4>
                        <h4>Pets Gender: <%= pet.gender %> </h4>
                        <h4>D.O.B:  <%= pet.dateOfBirth %> </h4>
                        <h4>Pets Colour: <%= pet.colour %> </h4>
                        <h4>Microchipping: <%= pet.microchipping %> </h4>
                        <h4>Microchipping Number:  <%= pet.microchippingNum %> </h4>
                        <h4>Policy Number: <%= pet.policyNum %> </h4>
                        <h4>Insurance Company: <%= pet.insuranceCompanyName %> </h4>
                        <% }); %>    
                <% } else { %>
                    <p>You have no pets registered.</p>
                <% } %>
                <h3>Owner: <%= user.firstName %> <%= user.lastName %> </h3>
                <br>
                <a href="/user/user_profile"> <button>User Profile</button></a><br>  
                <a href="/logout"><button>Log out of account</button></a>

                  
                

            </div>
            <div class="col-8 ">
                <h1>
                       <% pets.forEach(pet => { %>
                        <h1> <%= pet.petName %>'s Account </h1>
                        <% }); %>     
               
                <h2>Start your claim creation and storage now!</h2><br>
                



                <div >
                    <table>
                        <tr>
                             <h1>Claim List</h1>
                             <!-- Buttons while Code is being created to move around pages-->
                             <a href="/user/new_claims"><button>New Claims</button></a> <br><br>
                             
                        </tr>
                        <tr>
                            <th> Claim Title  </th>
                            <th> Area Of Issue:  </th>
                            <th> Claims Cost </th>
                            <th> Claims Status </th>
                            <th> View Claims  </th>
                            
                            <th>Submit Claim</th>
                            <!--th> Archive Claims  </th-->
                        </tr>
                        <% if (claimsdetail && claimsdetail.length > 0) { %>
                            <% claimsdetail.forEach(claim => { %>
                        <tr>
                    
                           <td><%= claim.claimTitle %></td>
                           
                           <td><%= claim.areaOfIssue %></td>
                           <td><%= claim.claimAmount %></td>
                           <td><%= claim.claimStatus %></td>

                           <td><a href="/user/view_claims/<%= claim._id %>"><button>View / Edit</button> </a></td>

                           <!--td><button id="editClaim">Edit</button></td-->
                           <td><button id="sendBtnICU" onclick="alert('Sent Claim')">Submit</button></td>
                           
                        </tr>
                            <% }); %>
                        <% } else { %>
                        <tr>
                            <td colspan="10">No claims submitted.</td>
                        </tr>
                         <% } %>
                    </table> <br>
                    
                </div>
        
                
            


                <br>


        
        
            </div>
        </div>   



       
        
        <!--Footer-->
        <%- include ("../partials/footer.ejs") %>

         <script  src="/js/claims.js"></script>
    </body>

</html>