<!DOCTYPE html>
<html lang="en">
<!--head-->
<%- include ("../partials/head.ejs") %>

    <body>

        
         <!-- nav bar-->
        <!--
         <%- include ("../partials/navbar/user_nav.ejs") %>
        -->
        <div class="container-fluid full-height"> 

            <div class="col-4">
                <img src="/images/profileImages/woman.png" alt=""><br><br> <!--https://www.pexels.com/photo/photo-of-woman-wearing-blue-zip-up-jacket-1090387/-->
                <h3>Name: <%= user.firstName %> <%= user.lastName %> </h3>
                <h4>Email: <%= user.emailAddress %> </h4>
                <h4>Contant Number: <%= user.contactNumber %> </h4>
                <h4>D.O.B: <%= user.dateOfBirth %></h4>
                <h4>Address: <%= user.address %></h4>
                <!--h4>Payment Method: <%= user.paymentType %></h4-->
                
                <br>
                <a href="/logout"><button>Log out of account</button></a><br>
                <!-- Buttons while Code is being created to move around pages-->
                <!--< a href="/user/pets_profile"><button> Pet Profile</button></a>-->
                <!--a href="/user/user_loginpage"> <button>User Login</button></a><br-->
                <!--a href="/"> <button>Home</button></a-->
            
            </div>

            <div class="col-8 ">

                <h1>Welcome to M'Ainmhi <%= user.firstName %>! </h1>


                <h3>Please To store your beloved pet medical information</h3><br>

                

                <br>
              
                <!--https://www.pexels.com/photo/close-up-of-monocled-cobra-in-natural-habitat-30076154/-->
                <br>
                 <div class="col-6 createPetAccount"><br> 
                     <h1> <%= user.firstName %>'s Pet Accounts </h1><br>
                 <a href="/user/pets_profile"><img src="/images/profileImages/lizard.png" alt="dog" class="rounded-circle" width="250" height="250"><br>  <br></a>
                <img src="/images/profileImages/snake.png" alt="Cat" class="rounded-circle" width="250" height="250"> <br> </a>
                
                <a href="/user/reg_petpage"><img src="/images/profileImages/paw.png" alt="Create an Account" class="rounded-circle" width="250" height="250"></a>
                 </div>

                <br> <br>
                

            </div>   
        </div>
        <!--Footer-->
        <%- include("../partials/footer.ejs") %>

    </body>

</html>