<!DOCTYPE html>
<html lang="en">
<!--head-->
<%- include ("../partials/head.ejs") %>

<body>
    <div class="container-fluid container3-mainBody">

        <div class="row">
            <div class="col-4 leftimage-col ">
                <div class="col">
               <img src="/images/accountsImages/usersIcon.jpg" class="indexLoginIcon" alt="icon">
                    <br><br> <!--https://www.pexels.com/photo/photo-of-woman-wearing-blue-zip-up-jacket-1090387/-->
                    <div class="update_userDetails">
                        
                         <% if (user) { %>
                         <div><h4>Name: <%= user.firstName %></h4><br></div>
                         <div><h4>Name: <%= user.lastName %></h4><br></div>
                         <div><h4>Email: <%= user.emailAddress %></h4><br></div>
                         <div><h4>Contant Number: <%= user.contactNumber %></h4><br></div>
                         <div><h4>D.O.B: <%= user.dateOfBirth %></h4><br></div>
                         <div><h4>Address: <%= user.address %></h4><br></div>
                         <div><h4>Username: <%= user.username %></h4><br><br></div>
                        <button id="update_userDetailsBtn" class="userLoginButton">Update <%= user.firstName %> Details </button>   
                         <% } %>     
                    </div>   <br>     

                    <br><br>
                     <!-- Login out of account-->
                    <%if(user) {%>
                        <div class="logInOut">
                          <a href="/user/logout">  <%= user.username %> Logout</a>
                        </div>
             
                    <% } %>    
                    <br><br>
                </div>   
            </div>
            <div class="col-md-8 createPetAccount">
                <div class="col">
                  <div> 
                    <h1>Welcome to M'Ainmhi <%= user.firstName %>! </h1>
                    <h3>Please To store your beloved pet medical information</h3>
                    <br>
                    <h1> <%= user.firstName %>'s Pet Accounts </h1>
                    <br><br>
                  </div>

                  <div>
                   
                  </div>
                </div>
                <br><br>  
            </div>
        </div>  
    
    </div>  
    <!--Footer-->
   <%- include("../partials/footer_genPages.ejs") %> 
   <script  src="/js/updateUserDetails.js"></script>     
</body>
</html>