<!DOCTYPE html>
<html lang="en">
<!--head-->
<%- include ("../partials/head.ejs") %>
<body>
    <div class="container-fluid conatainer3-mainBody full-height">
        <div class="col-4 leftimage-col">
            <div class="col">
                <img src="/images/profileImages/man.png"  class="petprofileImg" alt=""><br><br>

                <div><h3>Name: <%= insurerUser.staffFirstName %> <%= insurerUser.staffLastName %></h3></div>
                <div><h4>Email: <%= insurerUser.staffEmailAddress %></h4></div>
                <div><h4>Contant Number: <%= insurerUser.staffContactNumber %></h4></div>
                <div><h4>Staff Number: <%= insurerUser.staffNumber %></h4></div>
                <div><h4>Position: <%= insurerUser.staffRole %></h4></div>

                <h2>Company Informaiton</h2>
                <div>
                     <% if (company) { %>
                        <h4>Company Name: <%= company.insuranceCompanyName %> </h4>
                        <h4>Company Support Email: <%= company.insuranceCompanyEmail %> </h4>
                        <h4>Company Number: <%= company.insuranceCompanyContact %> </h4>
                         <h4>Company Address: <%= company.insuranceCompanyAddress %> </h4>
                     <% } else { %>
                        <p>You have no company registered.</p>
                    <% } %>    
                </div>    
                <br><br>    
                <div> 
                    <%if(insurerUser) {%>
                        <div class="logInOut">
                          <a href="/insurance/logout">  <%= insurerUser.username %> Logout</a>
                        </div>
             
                    <% } %>  
                </div>
            </div>
        </div>    
          
        <div class="col-8 ">
            <div class="col">
                <div>
                    <h1>Welcome to M'Ainmhi <%= insurerUser.staffFirstName %>!</h1>
                </div>

                <div class="popup">
                    <span class="closepopup" onclick="this.parentElement.style.display='none';">&times;</span>
                   <p> Policy Holder has submitted a new claim</p> 
                </div>
                <div> <br><br>
                    <table id="claimDisplay">
                        <div>
                            <tr>
                                <th><h4> Policy Holder </h4></th>
                                <th><h4> Pets Name </h4></th>
                                <th><h4> Claims Title </h4></th>
                                <th><h4> Claim Description </h4></th>                     
                            </tr>
                        </div>

                        <div>
                            <% claims.forEach(claim => { %>
                             <tr>
                                <td><p><%= claim.userId ? claim.userId.firstName : "N/A" %></p></td>
                                <td><p><%= claim.petId ? claim.petId.petName : "N/A" %></p></td>
                                <td><p><%= claim.claimTitle %></p></td>
                                <td><p><%= claim.claimDescription %></p></td>
                             </tr>                  
                            <% }); %>
                        </div>
                    </table>
                </div>
                <br><br>
            </div>
        </div>
    </div> <!--container end div-->
    <!--Footer-->
    <%- include ("../partials/footer.ejs") %>
</body>
</html>