<!DOCTYPE html>
<html lang="en">
<!--head-->
<%- include ("../partials/head.ejs") %>

    <body>


        <div class="container-fluid full-height">

            <div class="col-4">
                <img src="/images/profileImages/man.png" alt=""><br><br>
                <h3>Name: <%= insurerUser.staffFirstName %>
                        <%= insurerUser.staffLastName %>
                </h3>
                <h4>Email: <%= insurerUser.staffEmailAddress %>
                </h4>
                <h4>Contant Number: <%= insurerUser.staffContactNumber %>
                </h4>
                <h4>Staff Number: <%= insurerUser.staffNumber %>
                </h4>
                <h4>Position: <%= insurerUser.staffRole %>
                </h4>
                <br><br>

                <h2>Company Informaiton</h2><br>
                 <% if (company) { %>
                    <h4>Company Name: <%= company.insuranceCompanyName %> </h4>
                    <h4>Company Support Email: <%= company.insuranceCompanyEmail %> </h4>
                    <h4>Company Number: <%= company.insuranceCompanyContact %> </h4>
                     <h4>Company Address: <%= company.insuranceCompanyAddress %> </h4>
                 <% } else { %>
                    <p>You have no company registered.</p>
                <% } %>    
              
                    
                 <br><br>
                 <a href="/logout"><button>Log Off</button></a>
            </div>
            <div class="col-8 ">
                <h1>Welcome to M'Ainmhi <%= insurerUser.staffFirstName %>!</h1>
                <div class="popup">
                    <span class="closepopup" onclick="this.parentElement.style.display='none';">&times;</span>
                    Policy Holder has submitted a new claim
                </div><br>

                <div>
                    <table id="claimDisplay">
                        <tr>
                            <th> Policy Holder </th>
                            <th> Pets Name </th>
                            <th> Claims Title </th>
                            <th> Claim Description </th>
                          
                        </tr>

                    
                        <% claims.forEach(claim => { %>
                        <tr>
                            <td><%= claim.userId ? claim.userId.firstName : "N/A" %></td>
                            <td><%= claim.petId ? claim.petId.petName : "N/A" %></td>
                            <td><%= claim.claimTitle %></td>
                           <td><%= claim.claimDescription %></td>
                            

                        </tr>                  
                        <% }); %>
              



                        </a></td>
                        <tr>
                            <!--td colspan="10">No claims submitted.</td-->
                        </tr>
                    </table>


                </div>
                <br><br>
            </div>
        </div>



        <!--Footer-->
        <%- include ("../partials/footer.ejs") %>

    </body>

</html>